.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:teal;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    position: relative;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.post {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-color: white;
    margin: 30px;
    border-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    size: 7em;
}

@media screen and (max-width: 1080px){
    .block{
        display: flex;
        flex-direction: column;
        justify-content: center;
    align-items: center;
    }
}