.cart {
    justify-content: center;
    padding: 35px;
    text-align: center;
}

.logo {
    margin: 0 auto;
    width: 215px;
    padding: 15px;
}

.list {
    text-align: left;
    margin-top: 36px;
}

.member {
    text-align: center;
}

.submit_button {
    margin: 15px 15px 15px 15px;
    padding: 10px 15px;
    color: teal;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    background: white;
    border-radius: 10px;
    font-size: 14px;
}