* {
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: contain;
}

h2 {
    font-size: 36px;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
